If:
  PathMatch: test_package/.*
  CompileFlags:
    CompilationDatabase: .
Else:
  CompileFlags:
    IncludeStyle: never
    CompilationDatabase: .

Diagnostics:
  UnusedIncludes: Strict
CommandlineFlags: #This section DOES NOT exist.
  HeaderInsertion: never #This is NOT a valid setting.